# Chroma database
chroma_db/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# SentenceTransformer model files
sentence_transformers/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.sublime-*

# Logs and temporary files
*.log
logs/
*.ipynb_checkpoints/
*.DS_Store
